PGHOST=localhost
PGPORT=5432
PGDATABASE=sysmon_lab
PGUSER=telemetry_app
PGPASSWORD=change_me

COLLECTOR_STATE_FILE=collector_state.json
COLLECTOR_POLL_SECONDS=5
COLLECTOR_BATCH_SIZE=100
COLLECTOR_SOURCES=windows_system,windows_application,windows_security,sysmon,powershell,defender,task_scheduler,health_metrics

LOG_LEVEL=INFO
